<!DOCTYPE html>
<html>
  <head>
    <title>ProjectX</title>
    <meta name="viewport" content="width=device-width, initial-scale=3">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page">
    <div id="header">
      <div id="logo">
        <%= image_tag("Dzemperiui.png",  alt: "Dzemperiui", class: "like_image_for_index", height:"60px") %>
      </div>
      <div id="navbar">
        <input type="checkbox" />
        <div id="spans"><span></span><span></span><span></span></div>
        <%= link_to('Home', '/', {id: is_active('main', 'home')}) %>
        <%= link_to('Gallery', '/gallery', {id: is_active('gallery', 'index')}) %>
        <%= link_to('Ask Us', '/') %>
        <%= link_to('Contacts', '/contacts', {id: is_active('main', 'contacts')}) %>
      </div>
    </div>
    <div id="vieta_reklamai">
      <%= image_tag("v-ads.jpg",  alt: "reklama") %>
    </div>
    <div id="sponsoriai">
      <h3>Sponsored by:</h3>
        <div class="images">
          <%= image_tag("logo2.png",  alt: "Dzemperiui") %>
          <%= image_tag("logo3.png",  alt: "Dzemperiui") %>
          <%= image_tag("logo1.png",  alt: "Dzemperiui") %>
          <%= image_tag("logo4.png", alt: "Dzemperiui") %>
        </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p> <%= @authors %> &copy 2019 m.</p>
    </div>
  </div>
  </body>
</html>
