<!DOCTYPE html>
<html>
  <head>
    <title>ProjectX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="page">
    <div id="header">
      <div id="logo">
        <%= image_tag("Dzemperiui.png",  alt: "Dzemperiui", class: "like_image_for_index", height:"60px") %>
      </div>
      <div id="navbar">
        <input type="checkbox" />
        <div id="spans"><span></span><span></span><span></span></div>
        <%= link_to('Home', '/', {id: is_active('main', 'home')}) %>
        <%= link_to('Gallery', '/gallery', {id: is_active('gallery', 'index')}) %>
        <%= link_to('Contacts', '/contacts', {id: is_active('main', 'contacts')}) %>
        <% if current_user %>
<!-- <<<<<<< HEAD -->
          <%= link_to('Products', '/products', {id: is_active('products', 'index')}) %>
<!-- ======= -->
          <% if admin? %>
<!-- >>>>>>> 189f2988d744202af3e0a0e8665fddbbabd9498d -->
          <%= link_to "Users", users_path %>
            <% end %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
<!-- <<<<<<< HEAD -->
        <% if admin? %>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Edit user", edit_user_registration_path %>

        <% end %>
<!-- =======
>>>>>>> 189f2988d744202af3e0a0e8665fddbbabd9498d -->
      </div>
    </div>
            <div id="content">
              <%= yield %>
            </div>
          </div>
    <div id="footer">
      <p> <%= @authors %> &copy 2019 m.</p>
    </div>
  </div>
  </body>
</html>
