<!DOCTYPE html>
<html>
  <head>
    <title>ProjectX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
    <%= link_to('Home', '/') %>
    <%= link_to('About', '/aboutus') %>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
