<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table>
  <p><%= form_tag(products_path, method: :get) do %>
    Product <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search' %>
    <% end %></p>

  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.url %></td>
        <td><%= product.image %></td>
        <td><%= product.user.username rescue "No user!" %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
